
/* Birthday Icon */
#user-birthday {
   display: inline;

   svg {
      color: var(--channels-default);
      margin-left: 4px;
      vertical-align: -.025em;
   }
}

.peopleListItem-2nzedh .userInfo-2zN2z8 {
   #user-birthday {
     visibility: hidden;
   }
 
   &.hovered-15FzL3 {
      #user-birthday {
       visibility: visible;
     }
   }
}

.repliedMessage-VokQwo {
   #user-birthday svg {
      margin-left: 0;
      margin-right: 4px;
   }
}

/* Birthday Alert */
.user-birthday-alert-container {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
}

.user-birthday-alert-avatar {
   display: flex;
   justify-content: center;

   margin-top: 15em;
   margin-bottom: 5em;

   > div {
      width: 240px !important;
      height: 240px !important;
   }
}

.user-birthday-alert-hat {
   position: absolute;
   transform: translateX(-19%) translateY(-65%);
   z-index: 99999;
}

.user-birthday-alert-text {
   text-align: center;
   margin-bottom: 1em;
   font-size: 48px;
}

.user-birthday-alert-buttons {
   display: flex;
   justify-content: center;

   button {
      width: 25%;
      margin-right: 5em;
      pointer-events: all;
   }

   button:last-child {
      margin-right: 0;
   }
}

/* Settings */
.ub-settings-tab-bar {
   margin-bottom: 20px;
}

.ub-date-picker-avatars {
   .react-datepicker__day-name {
      width: 85px;
   }
   .react-datepicker__day {
      font-size: 1rem;
      width: 85px !important;
      height: 85px !important;
   }

   .wrapper-3t9DeA {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
   }
}